<div class="alert alert-info" id="grandIdLoginStatus" style="display: none;">
    <i class="fa fa-spinner fa-3x fa-spin fa-pulse status-spinner mb-4"></i>
    <div class="status-message"></div>
</div>