.activelogin-bankid-ui--wrapper {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.activelogin-bankid-ui--status-icon {
    animation: status-icon-spinner 1s infinite steps(10);
}

.activelogin-bankid-ui--status-spinner {
    margin-bottom: 0.75rem;
}

.activelogin-bankid-ui--status-spinner .activelogin-bankid-ui--status-icon {
    width: 40px;
    height: 40px;
    position: relative;
    top: 4px;
}

.activelogin-bankid-ui--status-spinner rect {
    fill: #212529;
}

@keyframes status-icon-spinner {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }
