@model ActiveLogin.Authentication.BankId.AspNetCore.Areas.ActiveLogin.Models.BankIdUiViewModel

<form class="activelogin-bankid-ui--form">
    <input name="RequestVerificationToken" type="hidden" value="@Model.AntiXsrfRequestToken">
    <input name="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />
    <input name="CancelReturnUrl" type="hidden" value="@Model.CancelReturnUrl" />
    <input name="UiOptions" type="hidden" value="@Model.UiOptions" />
</form>
