@using ActiveLogin.Authentication.BankId.AspNetCore.Auth
@using Microsoft.Extensions.Localization
@model ActiveLogin.Authentication.BankId.AspNetCore.Areas.ActiveLogin.Models.BankIdUiViewModel
@inject IStringLocalizer<BankIdAuthHandler> Localizer

<partial name="_Style" />

<div class="activelogin-bankid-ui--wrapper">
    @if (!string.IsNullOrEmpty(Localizer["SignIn_Header"]))
    {
        <div class="h3 mb-3 font-weight-normal">@Localizer["SignIn_Header"]</div>
    }

    <partial name="_Status" model="Model" />

    <form name="activelogin-bankid-ui--result-form" action="" method="post" style="visibility:hidden">
        <input name="uiResult" type="hidden" value="" />
    </form>
</div>

<partial name="_Script" model="Model" />
