@using ActiveLogin.Authentication.BankId.AspNetCore
@using Microsoft.Extensions.Localization
@model ActiveLogin.Authentication.BankId.AspNetCore.Areas.ActiveLogin.Models.BankIdUiViewModel
@inject IStringLocalizer<ActiveLoginResources> Localizer

<partial name="_Style" />

<div class="activelogin-bankid-ui--wrapper">
    @if (!string.IsNullOrEmpty(Model.LocalizedPageHeader))
    {
        <div class="h3 mb-3 font-weight-normal">@Model.LocalizedPageHeader</div>
    }

    <partial name="_Status" model="Model" />
</div>

<partial name="_Script" model="Model" />
