@using Microsoft.Extensions.Localization
@model ActiveLogin.Authentication.BankId.AspNetCore.Areas.BankIdAuthentication.Models.BankIdLoginViewModel
@inject IStringLocalizer<ActiveLogin.Authentication.BankId.AspNetCore.BankIdAuthenticationHandler> Localizer

<div class="card" id="bankIdLoginStatus" style="display: @(Model.AutoLogin ? "block" : "none");">
    <div class="card-body">
        <i class="fa fa-spinner fa-3x fa-spin fa-pulse status-spinner mb-4"></i>
        <div class="status-message">@Model.LoginScriptOptions.InitialStatusMessage</div>
    </div>
</div>

<button id="bankIdLoginStartApp" type="button" class="btn btn-primary btn-block mt-2" style="display: none;">
    @Localizer["BankIdUserMessage_ShortName_RFA18"]
</button>