@using Microsoft.Extensions.Localization
@model ActiveLogin.Authentication.BankId.AspNetCore.Areas.BankIdAuthentication.Models.BankIdLoginViewModel
@inject IStringLocalizer<ActiveLogin.Authentication.BankId.AspNetCore.BankIdHandler> Localizer

<partial name="_LoginStyle" />

<div id="bankid-log" style="background-color: #fff; border: 1px solid #000;"></div>

<div class="bankid-login">
    @if (!string.IsNullOrEmpty(Localizer["SignIn_Header"]))
    {
        <div class="h3 mb-3 font-weight-normal">@Localizer["SignIn_Header"]</div>
    }

    <partial name="_LoginStatus" model="Model" />
    <partial name="_LoginForm" model="Model" />
    <partial name="_LoginScript" model="Model" />
</div>
