@model ActiveLogin.Authentication.BankId.AspNetCore.Areas.BankIdAuthentication.Models.BankIdLoginViewModel

<form id="bankIdLoginForm">
    <input name="RequestVerificationToken" type="hidden" value="@Model.AntiXsrfRequestToken">
    <input name="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />
    <input name="CancelReturnUrl" type="hidden" value="@Model.CancelReturnUrl" />
    <input name="LoginOptions" type="hidden" value="@Model.LoginOptions" />
</form>
