@using Microsoft.Extensions.Localization
@model ActiveLogin.Authentication.BankId.AspNetCore.Areas.ActiveLogin.Models.BankIdUiViewModel
@inject IStringLocalizer<ActiveLogin.Authentication.BankId.AspNetCore.BankIdHandler> Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    string header = Localizer["SignIn_Header"];
    string subHeader = "With custom subheader";
}

<partial name="_LoginStyle" />

<div class="bankid-login">
    @if (!string.IsNullOrEmpty(header))
    {
        <div class="h3 mb-3 font-weight-normal">@header</div>
    }
    <div class="h4 mb-3 font-weight-normal">@subHeader</div>

    <partial name="_LoginStatus" model="Model" />
    <partial name="_LoginForm" model="Model" />
    <partial name="_LoginScript" model="Model" />
</div>
