@model IdentityServerSample.Models.AccountLoginViewModel
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Demo";
}

@if (Model.ExternalProviders.Any())
{
    <div class="choose-auth-provider">
        <img src="~/static/graphics/active-login-logo-fingerprint.svg" alt="Active Login" class="choose-auth-provider-logo" />

        <h1 class=" mb-5 mt-2 font-weight-normal">Active Login</h1>

        <ul class="list-inline">
            @foreach (var provider in Model.ExternalProviders)
            {
                <li class="mb-2">
                    <a class="btn btn-primary btn-block btn-lg"
                       asp-action="ExternalLogin"
                       asp-route-provider="@provider.AuthenticationScheme"
                       asp-route-returnUrl="@Model.ReturnUrl">
                        @provider.DisplayName
                    </a>
                </li>
            }
        </ul>
    </div>
}

@if (!Model.ExternalProviders.Any())
{
    <div class="alert alert-warning">
        <strong>Invalid login request</strong>
        There are no login schemes configured for this client.
    </div>
}