@using IdentityServerSample.Models
@model IdentityServerSample.Models.AccountLoginViewModel
@{
    Layout = "_LayoutMaster";
}
@{
    ViewData["Title"] = "Log in using";
}

<div class="container">
    @if (Model.ExternalProviders.Any())
    {
        <div class="choose-auth-provider">
            <h1 class=" mb-3 font-weight-normal">@ViewData["Title"]</h1>

            <ul class="list-inline">
                @foreach (var provider in Model.ExternalProviders)
                {
                    <li class="mb-1">
                        <a class="btn btn-primary btn-block"
                           asp-action="ExternalLogin"
                           asp-route-provider="@provider.AuthenticationScheme"
                           asp-route-returnUrl="@Model.ReturnUrl">
                            @provider.DisplayName
                        </a>
                    </li>
                }
            </ul>
        </div>
    }

    @if (!Model.ExternalProviders.Any())
    {
        <div class="alert alert-warning">
            <strong>Invalid login request</strong>
            There are no login schemes configured for this client.
        </div>
    }
</div>

@section Styles {
    <style type="text/css">
        .choose-auth-provider {
            width: 100%;
            max-width: 380px;
            margin: 0 auto;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

            .choose-auth-provider a {
                text-align: center;
            }
    </style>
}