@using ActiveLogin.Authentication.BankId.AspNetCore
@using Microsoft.Extensions.Localization
@model ActiveLogin.Authentication.BankId.AspNetCore.Areas.ActiveLogin.Models.BankIdUiViewModel
@inject IStringLocalizer<ActiveLoginResources> Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    string header = Localizer["Auth_Header"];
    string subHeader = "With custom subheader";
}

<partial name="_Style" />

<div class="activelogin-bankid-ui--wrapper">
    @if (!string.IsNullOrEmpty(Localizer["Auth_Header"]))
    {
        <div class="h3 mb-3 font-weight-normal">@Localizer["Auth_Header"]</div>
    }
    <div class="h4 mb-3 font-weight-normal">@subHeader</div>

    <partial name="_Status" model="Model" />
</div>

<partial name="_Script" model="Model" />
