@{
    Layout = "_LayoutMaster";
}

<div class="container">
    @RenderBody()
</div>

<nav class="navbar fixed-bottom navbar-light justify-content-center" style="background-color: #f5f5f5;">    
    <span class="navbar-text">
        <a href="https://activelogin.net">Powered by Active Login</a>
    </span>
</nav>

@section Scripts
{
    @RenderSection("Scripts", false)
}

@section Styles
{
    @RenderSection("Styles", false)
}