@{
    Layout = "_LayoutMaster";
}

<div class="container">
    @RenderBody()
</div>

@section Scripts
{
    @RenderSection("Scripts", false)
}

@section Styles
{
    @RenderSection("Styles", false)
}