body {
    font-family: sans-serif;
    background-color: #fafafa;
}

.navbar-brand {
    padding: 15px;
}

    .navbar-brand .svg:not(:root) {
        padding-bottom: inherit;
        height: 38px;
        width: 38px;
    }

.navbar-inverse {
    background-color: #008BC3;
    color: #fff;
}

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:focus,
    .navbar-inverse .navbar-nav > .active > a:hover {
        color: #008BC3;
        background-color: #fff;
    }

    .navbar-inverse .navbar-nav > li > a,
    .navbar-inverse .navbar-text {
        color: #fff;
    }

@media (min-width:768px) {
    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header {
        margin-right: 0;
        margin-left: 0;
        font-size: 18px;
    }
}

.container.body-content {
    width: auto;
    padding-left: 0;
}

article.content {
    padding-left: 20px;
}

.grid-right article.content {
    padding-left: 0;
}

@media (min-width: 992px) {
    @media (min-width: 992px) {
        .sidetoc, .sidefilter { width: 330px; }

        .article.grid-right { margin-left: 330px; }
    }
}
