name: Test

on:
  push:
    branches: [ main, v* ]
  pull_request:
    branches: [ main, v* ]
  schedule:
    - cron: '30 3 * * *'
env:
  dotnetBuildConfiguration: 'Release'
  dotnetVerbosity: 'Detailed'

jobs:
  test:
    name: Run all tests
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            include:
            - os: windows-latest
            - os: macos-15-intel
            - os: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
      
      - name: Dotnet restore
        run: dotnet restore --verbosity ${{ env.dotnetVerbosity }}
        shell: pwsh
      
      - name: Dotnet test
        run: dotnet test --configuration ${{ env.dotnetBuildConfiguration }} --collect "Code coverage"
        shell: pwsh
